:root {
    /* Colors: */
    --secondary: #ffd488;
    --secondaryHover: #ffcd75;
    --background: #fbf7f4;
    --primarylight: #9bafc7;
    --primarydark: #505c68;
}

body {
    background-color: var(--background);
    font-family: acumin-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    max-width: 1500px;
    width: 85%;
    margin: auto;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.icon {
    color: var(--primarydark);
}

.labelX {
    font-size: 3rem;
}

.labelM {
    font-size: 2rem;
}

.light {
    color: var(--primarylight);
}

label {
    color: var(--primarydark);
    font-size: 1.4rem;
    white-space: nowrap;
}

footer {
    color: var(--primarydark);
    font-size: 0.7rem;
    margin: 4px;
}

.freqVolume,
a {
    color: var(--primarydark);
}

.wave {
    width: 15px;
}

.alignLeft {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

#currTime {
    width: 30px;
}

#songNameLabel {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 600px;
}

i {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#songNameLabel {
    font-size: 2rem;
}

#title {
    width: 100%;
}


/*-layout-*/

#topSectionDiv {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 10rem;
}

#playerSectionDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#playerControls {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#playerButtonsSectionDiv {
    margin-left: 3rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#playerSongNameVolumeSectionDiv {
    padding-top: 0.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#songVolumeSliderSectionDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#songSliderSectionDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#uploadSectionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
}

#tonesDiffSectionDiv {
    width: 100%;
    display: flex;
}

#tonesDiffLabelsSectionDiv {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 15%;
    min-width: 12rem;
}

#tonesSliderAreaSectionDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center
}

#tonesSliderAreaImagesSectionDiv {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}

#tonesSliderAreaImagesSectionDiv img {
    width: 10rem
}

#toneFreqDiffSliderSectionDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#baseTonesSectionDiv {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

#baseTonesLabelsSectionDiv {
    position: relative;
    top: -20px;
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

#footSectionDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#toneVolumeSliderSectionDiv {
    width: 45%;
    display: flex;
    align-items: center;
}

#SmartToneFrequencySectionDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#SmartToneVolumeSectionDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footSectionDiv input[type='range'] {
    height: 5px;
}

#footSectionDiv input[type='range']::-webkit-slider-thumb {
    width: 28px;
    height: 28px;
}

#footSectionDiv input[type='range']::-moz-range-thumb {
    width: 28px;
    height: 28px;
}

#baseTonesSectionDiv input[type='range'] {
    flex: 1;
}

#toneFreqDiffSliderSectionDiv input[type='range'] {
    width: 85%;
}

#songVolumeSliderSectionDiv input[type='range'] {
    height: 5px;
}

#songVolumeSliderSectionDiv input[type='range']::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
}

#songVolumeSliderSectionDiv input[type='range']::-moz-range-thumb {
    width: 30px;
    height: 30px;
}

#currTimeLabel {
    width: 3.2em;
    text-align: right;
}


/*-File selector-*/

#fileInputLabel {
    cursor: pointer;
}


/*-Button-*/

button,
i,
input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--secondary);
    -webkit-transition: .2s;
    transition: color .2s;
    outline: none;
    background-color: transparent;
    border: none;
}

button:disabled {
    color: var(--primarylight);
}

button:enabled i:hover {
    cursor: pointer;
    color: var(--secondaryHover);
}


/*-Range slider-*/

input[type='range'] {
    background: var(--primarylight);
    border-radius: 8px;
    height: 8px;
    width: 90%;
    margin: 0.8em;
    cursor: pointer;
    --webkitProgressPercent: 0%;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--secondary);
}

input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 50%;
    border: none;
    width: 36px;
    height: 36px;
    background: var(--secondary);
    cursor: pointer;
}

input[type='range']:hover:enabled::-webkit-slider-thumb {
    cursor: pointer;
    background: var(--secondaryHover);
}

input[type='range']:hover:enabled::-moz-range-thumb {
    cursor: pointer;
    background: var(--secondaryHover);
}


/*-ToggleButton-*/

.toggleButton {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 2em;
    margin-left: 0.2em;
}

.toggleButton input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggleButton span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primarylight);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.toggleButton span:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: var(--secondary);
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 50%;
}

.toggleButton input:checked+span {
    background-color: var(--secondary);
}

.toggleButton input:checked+span:before {
    background-color: var(--primarylight);
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


/*-Loading-*/

#loading {
    background: #505C6869;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loadingText {
    font-weight: 700;
    font-size: 2rem;
    margin: 0rem;
}

.loader {
    border: 16px solid var(--primarylight);
    border-top: 16px solid var(--secondary);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.solidBackground {
    background: var(--background) !important;
}